####default.cfg

[TaskManager]
loginServerAddress=169.58.32.19
clusterName=SWG-Ghosts-NGE

[dbProcess]
DSN=//127.0.0.1/swg
databaseUID=swg

[LoginServer]
DSN=//127.0.0.1/swg
databaseUID=swg
developmentMode=true

[CentralServer]
developmentMode=true

[GameServer]
adminGodToAll=1
